* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  background-color: $body-bg-color;
  background-image: $body-bg-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $font-primary;
}

// COMMON STYLES
.container {
  min-height: calc(100vh - 45px); // It makes footer stick to the bottom
  max-width: 122rem;
  margin: 0 auto;
  padding: 2rem 0;
}

.content {
  display: flex;
  justify-content: space-between;
}

.heading-primary {
  font-size: 3rem;
}

.heading-secondary {
  font-size: 2rem;
  text-shadow: 0.04rem 0.04rem 2px $heading-secondary-text-shadow;
}
