* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
  background-image: url(../img/primary-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $font-primary;
}

// COMMON STYLES
.container {
  max-width: 113rem;
  margin: 0 auto;
}

.heading-primary {
  font-size: 3rem;
}
