// COLORS
$header-date-text-color: #121212;
$widget-bg-color: rgba(255, 255, 255, .8);
$widget-border-top-color: rgba(28, 28, 28, .8);
$widget-shadow-color: rgba(0, 0, 0, 0.1);
$water-temp-highlight-color: #5286ff;

// FONT VARIABLES
$font-primary: 'Roboto',
sans-serif;
