.widget {
  display: inline-block;
  background-color: $widget-bg-color;
  font-size: 1.5rem;
  padding: 1.4rem 1.8rem;
  border-top: 4px solid $widget-border-top-color;
  border-radius: 2px;
  box-shadow: 1px 1px 4px $widget-shadow-color;
}

.available-spots {
  &__title {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: .35rem;
  }
}

.water-temp {
  &__highlight {
    color: $water-temp-highlight-color;
  }
}
