.widget {
  display: inline-block;
  background-color: $widget-bg-color;
  font-size: 1.5rem;
  padding: 1.4rem 1.8rem;
  margin-bottom: 2rem;
  border-top: 4px solid $widget-border-top-color;
  border-radius: 2px;
  box-shadow: 1px 1px 4px $widget-shadow-color;

  &:nth-child(3) {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 1.26rem;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 1.17rem;
  }
}

.available-spots {
  &__title {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: .35rem;

    @media only screen and (max-width: $bp-largest) {
      font-size: 1.14rem;
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 1.1rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    width: 45%;
    margin-right: 2rem;
  }
}

.water-temp {
  &__highlight {
    color: $water-temp-highlight-color;
  }
}

.wind-speed {
  padding-bottom: 0;

  &__text {
    margin-bottom: 1.5rem;
  }

  &__highlight {
    color: $wind-speed-highlight-color;
  }

  @media only screen and (max-width: $bp-small) {
    flex-grow: 2;
    max-width: 80%;
  }
}

.toggle-wind-speed-chart {
  background-color: $wind-speed-chart-btn-bg-color;
  color: $wind-speed-chart-btn-text-color;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all .2s;

  &__caret {
    margin-left: .2rem;
  }

  &:hover {
    background-color: lighten($wind-speed-chart-btn-bg-color, 10%);
  }

  @media only screen and (max-width: $bp-largest) {
    font-size: 1rem;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: .86rem;
  }

  @media only screen and (max-width: $bp-small) {
    flex-grow: 3;
  }
}
